body {
 background-color: #000;

}

H4 { color: #ddd054;
    text-align: center }

H5 { color: #ddd054;
    text-align: center }



btnwhats {
    text-align: center;
    background: #32CD32;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
}

.container {
text-align: center;

   }

div.tres {
 text-align: center
 width:30px;
 height:30px;
 border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
 border-color: #ffd24d #ffd24d #ffd24d #ffd24d; /* cores: topo, direita, inferior, esquerda */
 }


.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
